In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("LDA_EPT_data.xlsx")

## S1

In [3]:
df['MP1_S1_Value'] = (
    df['MP1_S1_Value']
    .str.replace("*.", "", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.strip()
)

df['MP1_S1_Value'] = df['MP1_S1_Value'].replace(".", np.nan)

df['MP1_S1_Value'] = pd.to_numeric(df['MP1_S1_Value'], errors='coerce')

In [4]:
df['MP1_S1_Value']

0       0.420
1       0.480
2       0.520
3       0.300
4       0.550
        ...
1264    0.629
1265    0.423
1266    1.098
1267    0.684
1268    0.423
Name: MP1_S1_Value, Length: 1269, dtype: float64

In [5]:
df['MP1_P1_Value'] = (
    df['MP1_P1_Value']
    .str.replace("*.", "", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.strip()
)

df['MP1_P1_Value'] = df['MP1_P1_Value'].replace(".", np.nan)

df['MP1_P1_Value'] = pd.to_numeric(df['MP1_P1_Value'], errors='coerce')

In [6]:
df['MP1_P1_Value']

0       0.300
1       0.301
2       0.362
3       0.300
4       0.231
        ...
1264    0.687
1265    0.624
1266    0.426
1267    0.700
1268    0.624
Name: MP1_P1_Value, Length: 1269, dtype: float64

## S2

In [7]:
df['MP2_S2_Value'] = (
    df['MP2_S2_Value']
    .str.replace("*.", "", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.strip()
)

df['MP2_S2_Value'] = df['MP2_S2_Value'].replace(".", np.nan)

df['MP2_S2_Value'] = pd.to_numeric(df['MP2_S2_Value'], errors='coerce')

In [8]:
df['MP2_S2_Value']

0       0.840
1       0.950
2       1.030
3       0.600
4       1.100
        ...
1264    1.258
1265    0.846
1266    2.097
1267    1.370
1268    0.846
Name: MP2_S2_Value, Length: 1269, dtype: float64

In [9]:
df['MP2_S2_Setting_Tolerance'] = df['MP2_S2_Setting_Tolerance'].str.replace("*","",regex=False).str.replace("*.","",regex=False).str.replace("+-","",regex=False).str.replace(",",".",regex=False).str.replace(".","",regex=False).str.strip()
df['MP2_S2_Setting_Tolerance'] = pd.to_numeric(df['MP2_S2_Setting_Tolerance'])
df['MP2_S2_Setting_Tolerance'] = df['MP2_S2_Setting_Tolerance'].replace(4.0,0.04)

In [10]:
df['MP2_S2_Setting_Tolerance']

0       0.04
1       0.04
2       0.04
3       0.04
4       0.04
        ...
1264    0.04
1265    0.04
1266    0.04
1267    0.04
1268    0.04
Name: MP2_S2_Setting_Tolerance, Length: 1269, dtype: float64

In [11]:
df['MP2_P2_Value'] = (
    df['MP2_P2_Value']
    .str.replace("*.", "", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.strip()
)

df['MP2_P2_Value'] = df['MP2_P2_Value'].replace(".", np.nan)

df['MP2_SP_Value'] = pd.to_numeric(df['MP2_P2_Value'], errors='coerce')

In [12]:
df['MP2_SP_Value']

0       1.7
1       1.7
2       1.7
3       1.7
4       1.7
       ...
1264    1.7
1265    1.7
1266    1.7
1267    1.7
1268    1.7
Name: MP2_SP_Value, Length: 1269, dtype: float64

In [13]:
df["MP1_S1_Setting_Tolerance"] = df['MP2_S2_Setting_Tolerance']

In [14]:
df["MP1_S1_Setting_Tolerance"]

0       0.04
1       0.04
2       0.04
3       0.04
4       0.04
        ...
1264    0.04
1265    0.04
1266    0.04
1267    0.04
1268    0.04
Name: MP1_S1_Setting_Tolerance, Length: 1269, dtype: float64

In [18]:
features = df[['PH_PART_NUMBER','MP1_S1_Value','MP1_P1_Value','MP1_S1_Setting_Tolerance','MP2_S2_Value','MP2_P2_Value','MP2_S2_Setting_Tolerance']]

In [19]:
features

,PH_PART_NUMBER,MP1_S1_Value,MP1_P1_Value,MP1_S1_Setting_Tolerance,MP2_S2_Value,MP2_P2_Value,MP2_S2_Setting_Tolerance
0,1467134167,0.420,0.300,0.04,0.840,1.70,0.04
1,1467134945,0.480,0.301,0.04,0.950,1.70,0.04
2,1467134428,0.520,0.362,0.04,1.030,1.70,0.04
3,1467134173,0.300,0.300,0.04,0.600,1.70,0.04
4,1467134565,0.550,0.231,0.04,1.100,1.70,0.04
...,...,...,...,...,...,...,...
1264,D460089559,0.629,0.687,0.04,1.258,1.70,0.04
1265,F002D15483,0.423,0.624,0.04,0.846,1.70,0.04
1266,F002D15476,1.098,0.426,0.04,2.097,1.70,0.04
1267,F002D15465,0.684,0.700,0.04,1.370,1.70,0.04
1268,D460 089 560,0.423,0.624,0.04,0.846,1.70,0.04

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("LDA_EPT_data.csv")

In [11]:
df[df["PH_PART_NUMBER"].str.replace(" ","",regex=False).str.strip().str[-4:] == "5483"][["MP1_S1_Value","MP2_S2_Value"]]

      MP1_S1_Value  MP2_S2_Value
1265         0.423         0.846

In [13]:
df[df["PH_PART_NUMBER"].str.replace(" ", "", regex=False).str.strip().str[-4:] == "5483"][["PH_PART_NUMBER","MP1_S1_Value", "MP2_S2_Value"]]

     PH_PART_NUMBER  MP1_S1_Value  MP2_S2_Value
1265     F002D15483         0.423         0.846